nav  {
    background-color: #000000;
    padding: 10px;
}
nav a  {
    color: rgb(255, 0, 0);
    display: block;
    padding: 20px;
}
h1  {
    color:#00ffd0;
}
main img  {
    width: 150px;
    height:auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    box-shadow: 0 0 30px rgb(127, 127, 127);
}
p  {
    padding: 0;
}
main  {
    max-width: 840px;
}
footer  {
    margin-top: 1em;
    border-top: 1px solid #000000;
    text-align: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2) ; /* 1 */
    padding: 1rem;
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
}