nav  {
    background-color: #00ff1a;
    padding: 10px;
}
nav a  {
    color: rgb(255, 0, 0);
    display: block;
    padding: 20px;
}
h1  {
    color:#00ffd0;
}
img  {
    max-width: 150px;
    height:auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    box-shadow: 0 0 30px rgb(127, 127, 127);
}
p  {
    padding: 10px;
}
main  {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(81, 83, 191, 0.2) ; /* 1 */
    padding: 1rem;
    background-color: #d06431;
    color: #cd63c6;
    text-align: center;
}